.app-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .count {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .increment-btn {
    background-color: #39a2db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }